{% extends 'slot/base.html' %}
{% block title %}{{request.client.name}} | Client{% endblock %}
{% block content %}
    <div class="containe-fluid">
        {{request.client.name}}--{{request.client.datetime}}--{{request.client.venue}}--
        {% if request.client.status != '00' %}
            {% if request.slot %}
                {{request.slot.getStatus}} 
            {% else %}
                {{request.getStatus}}
            {% endif %}
        {% else %}
            {{request.client.getStatus}}
        {% endif %}
    </div>
{% endblock %}