{% extends 'slot/base.html' %}
{% block title %}Notifications{% endblock %}
{% block content %}
    <div class="col-sm-6">
        {% for request in accept %}    
            <h2>{{request.client.name}}--{{request.client.venue}}</h2>
            <a class="btn btn-danger" href="{% url 'slot:reject' request.id %}">Reject</a>
        {% endfor %}
    </div>
    <div class="col-sm-6"></div>
        {% for request in wait %}    
            <h2>{{request.client.name}}--{{request.client.venue}}</h2>
            <a class="btn btn-success" href="{% url 'slot:accept' request.id %}">Accept</a>
            <a class="btn btn-danger" href="{% url 'slot:reject' request.id %}">Reject</a>
        {% endfor %}
    </div>
{% endblock %}